#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #111046;
}
.el-form--label-top .el-form-item__label {
    padding: 0 0 4px !important;
}